################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/sentiment-api/.vs
/src/sentiment-api/bin/Debug/net6.0
/src/sentiment-api/obj
