################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/sentiment-api/.vs
/src/sentiment-api/bin/
/src/sentiment-api/obj
/src/Sentiment.API.Tests/bin/Debug/net6.0
/src/Sentiment.API.Tests/obj
